In [27]:
# Pandas Data Cleaning and Exploratory Data Analysis (EDA)

In [59]:
import pandas as pd

## Upload Data

In [60]:
housing_header = ["HomeID", "HomeAge", "HomeSqft", "LotSize", "Bed Rooms", 
                  "HighSchoolAPI", "ProxFwy", "CarGarage", "ZipCode", "HomePriceK"]
df = pd.read_csv("fixed-housing-data.csv",names=housing_header)
#what does this do?

In [61]:
df.head()
#df.head(10)

,HomeID,HomeAge,HomeSqft,LotSize,Bed Rooms,HighSchoolAPI,ProxFwy,CarGarage,ZipCode,HomePriceK
0,1,24,1757,6056,2,899,3,3,94085,894
1,2,10,1563,6085,2,959,4,3,94085,861
2,3,14,1344,6089,2,865,4,3,94085,831
3,4,14,1215,6129,3,959,4,2,94085,809
4,5,24,1866,6141,3,877,4,1,94085,890

Why did we only want to display the first 5 rows of the dataframe?

What if we wanted to see the size of this dataframe?

In [62]:
# number of rows
len(df)

100

In [63]:
# shape of df (rows, columns)
df.shape

(100, 10)

## Change Column Name(s)

Why would we want to change the column names?

In [64]:
df=df.rename(columns={'Lot Size': 'LotSize'})
df.head()

,HomeID,HomeAge,HomeSqft,LotSize,Bed Rooms,HighSchoolAPI,ProxFwy,CarGarage,ZipCode,HomePriceK
0,1,24,1757,6056,2,899,3,3,94085,894
1,2,10,1563,6085,2,959,4,3,94085,861
2,3,14,1344,6089,2,865,4,3,94085,831
3,4,14,1215,6129,3,959,4,2,94085,809
4,5,24,1866,6141,3,877,4,1,94085,890

## Create New Columns

What is new information about "Block_Location" that we can actually use and save?

Let's create new columns for the information we extracted from those values.

In [65]:
prices_2019 = [(price * 1.04) for price in df["HomePriceK"]]
df["Price2019"] = prices_2019
#Check if it worked
df.head()

,HomeID,HomeAge,HomeSqft,LotSize,Bed Rooms,HighSchoolAPI,ProxFwy,CarGarage,ZipCode,HomePriceK,Price2019
0,1,24,1757,6056,2,899,3,3,94085,894,929.76
1,2,10,1563,6085,2,959,4,3,94085,861,895.44
2,3,14,1344,6089,2,865,4,3,94085,831,864.24
3,4,14,1215,6129,3,959,4,2,94085,809,841.36
4,5,24,1866,6141,3,877,4,1,94085,890,925.60

## Drop Columns

In [66]:
df = df.drop("ProxFwy", axis = 1)
#Check if it dropped
df.head()

,HomeID,HomeAge,HomeSqft,LotSize,Bed Rooms,HighSchoolAPI,CarGarage,ZipCode,HomePriceK,Price2019
0,1,24,1757,6056,2,899,3,94085,894,929.76
1,2,10,1563,6085,2,959,3,94085,861,895.44
2,3,14,1344,6089,2,865,3,94085,831,864.24
3,4,14,1215,6129,3,959,2,94085,809,841.36
4,5,24,1866,6141,3,877,1,94085,890,925.60

In [67]:
df.ZipCode.unique()

array([94085, 95051, 94087, 95014])

In [68]:
df["CarGarage"].unique()

array([3, 2, 1, 0])

# EXPLORATORY DATA ANALYSIS

<h3>"Exploratory data analysis or 'EDA' is a <b>critical</b> beginning step in analyzing the data from an experiment.</h3>

<b>Here are the main reasons we use EDA:</b>
<ul>
• detection of mistakes<br><br>
• checking of assumptions<br><br>
• preliminary selection of appropriate models<br><br>
• determining relationships among the explanatory variables, and<br><br>
• assessing the direction and rough size of relationships between explanatory and outcome variables."</ul>

## Now what?

We have cleaned our data to the best of our ability based on the initial look. Now let's try to look at the <b>relationships</b> between different values.

In [69]:
df.head()

,HomeID,HomeAge,HomeSqft,LotSize,Bed Rooms,HighSchoolAPI,CarGarage,ZipCode,HomePriceK,Price2019
0,1,24,1757,6056,2,899,3,94085,894,929.76
1,2,10,1563,6085,2,959,3,94085,861,895.44
2,3,14,1344,6089,2,865,3,94085,831,864.24
3,4,14,1215,6129,3,959,2,94085,809,841.36
4,5,24,1866,6141,3,877,1,94085,890,925.60

Let's look at the different types of offenses that were called in. We know that using the .unique() function will return all the unique values in the column, but what if we wanted to also <b>count</b> the different times each unique value appeared?

In [70]:
df.ZipCode.value_counts()

95051    25
95014    25
94087    25
94085    25
Name: ZipCode, dtype: int64

In [71]:
df.CarGarage.value_counts()

3    32
0    31
2    19
1    18
Name: CarGarage, dtype: int64

Why is "LARCENY" a higher occurence in the "EVENTDESC" column, if when we looked into the "OFFENSE" column, "BURGLARY - VEHICLE" is first? Let's look into this a little more.


## GroupBy

In [72]:
df1 = df.groupby("ZipCode").CarGarage.value_counts().to_frame()
print(df1)

df2=df.groupby("CarGarage").ZipCode.value_counts().to_frame()
print(df2)

                   CarGarage
ZipCode CarGarage
94085   3                  8
        1                  7
        2                  6
        0                  4
94087   0                  9
        1                  7
        3                  5
        2                  4
95014   3                 11
        0                  9
        2                  3
        1                  2
95051   0                  9
        3                  8
        2                  6
        1                  2
                   ZipCode
CarGarage ZipCode
0         94087          9
          95014          9
          95051          9
          94085          4
1         94085          7
          94087          7
          95014          2
          95051          2
2         94085          6
          95051          6
          94087          4
          95014          3
3         95014         11
          94085          8
          95051          8
          94087          5

## More about GROUP BY
"This grouped variable is now a GroupBy object. It has not actually computed anything yet except for some intermediate data about the group key df['key1']. The idea is that this object has all of the information needed to then apply some operation to each of the groups." - Python for Data Analysis

In [73]:
#Use list() to show what a grouping looks like

df.groupby("ZipCode")

Descriptive statistics by group

In [74]:
#returns a dict of your groups
df.groupby("ZipCode").groups

{94085: Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 16, 17,
             19, 20, 21, 22, 24, 25, 26, 28],
            dtype='int64'),
 94087: Int64Index([40, 41, 45, 47, 48, 53, 55, 56, 57, 59, 60, 61, 62, 63, 64, 66, 67,
             68, 69, 71, 74, 75, 77, 78, 79],
            dtype='int64'),
 95014: Int64Index([65, 70, 72, 73, 76, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91,
             92, 93, 94, 95, 96, 97, 98, 99],
            dtype='int64'),
 95051: Int64Index([15, 18, 23, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 42, 43,
             44, 46, 49, 50, 51, 52, 54, 58],
            dtype='int64')}

In [75]:
df.groupby("ZipCode").LotSize.describe()

         count     mean         std     min     25%     50%     75%     max
ZipCode
94085     25.0  6531.48  366.680279  6056.0  6183.0  6514.0  6870.0  7098.0
94087     25.0  8279.68  467.047439  7426.0  7958.0  8348.0  8585.0  8974.0
95014     25.0  9145.28  275.174266  8446.0  9095.0  9211.0  9337.0  9476.0
95051     25.0  7405.56  359.942134  6680.0  7181.0  7339.0  7693.0  8096.0

In [76]:
df.groupby("ZipCode").HighSchoolAPI.describe()

         count    mean        std    min    25%    50%    75%    max
ZipCode
94085     25.0  907.00  38.223030  851.0  877.0  904.0  935.0  966.0
94087     25.0  899.24  33.121343  850.0  876.0  890.0  927.0  962.0
95014     25.0  894.80  32.430695  850.0  862.0  889.0  924.0  942.0
95051     25.0  916.68  39.359158  853.0  891.0  918.0  949.0  975.0

### Get Columns + Index

In [77]:
df.columns

Index(['HomeID', 'HomeAge', 'HomeSqft', 'LotSize', 'Bed Rooms',
       'HighSchoolAPI', 'CarGarage', 'ZipCode', 'HomePriceK', 'Price2019'],
      dtype='object')

In [78]:
list(df.columns)

['HomeID',
 'HomeAge',
 'HomeSqft',
 'LotSize',
 'Bed Rooms',
 'HighSchoolAPI',
 'CarGarage',
 'ZipCode',
 'HomePriceK',
 'Price2019']

# <font color = "red">Pandas HW 1</font>

Could there be any relationship between "Price per lot size Sqft" and "Price per home Sqft"? What can be the takeaway message from the data we have? Try out different functions to see if there is any significance?

In [83]:
df["PricePerLotSqt"]=df["HomePriceK"]/df["LotSize"]
df["PricePerHomeSqt"]=df["HomePriceK"]/df["HomeSqft"]
#df=df.drop(["HomeID","ProxFwy"],axis=1)
#df=df.groupby("ZipCode").corr()
#crrinfo1=df.corr()
crrinfo1=df.groupby("ZipCode").corr()
t1=crrinfo1.get("PricePerHomeSqt")
print("94085:"+str(crrinfo1["PricePerHomeSqt"][8]))  
print("94087:"+str(crrinfo1["PricePerHomeSqt"][17]))
print("95014:"+str(crrinfo1["PricePerHomeSqt"][26]))
print("95051:"+str(crrinfo1["PricePerHomeSqt"][35]))
print("\nPrice per lot size sqft and Price Per home sqft at zip code 95051 seems has very unsignifcat impact on each other.")
print("These two may have stronger relationship at 94085 than at 94087, 95014, and 95051.")
print("\nCorrelation between Zip Code and different factors:")
print(crrinfo1["PricePerHomeSqt"])

94085:0.3353539668006455
94087:0.20667661584383887
95014:0.22480893283387665
95051:0.13095562576691971

Price per lot size sqft and Price Per home sqft at zip code 95051 seems has very unsignifcat impact on each other.
These two may have stronger relationship at 94085 than at 94087, 95014, and 95051.

Correlation between Zip Code and different factors:
ZipCode
94085    Bed Rooms         -0.028155
         CarGarage         -0.056261
         HighSchoolAPI     -0.267964
         HomeAge           -0.120742
         HomeID             0.241783
         HomePriceK         0.335354
         HomeSqft          -0.054979
         LotSize            0.230886
         Price2019          0.335354
         PricePerLotSqt     0.182710
         PricePerHomeSqt    1.000000
94087    Bed Rooms          0.487540
         CarGarage          0.306589
         HighSchoolAPI      0.325354
         HomeAge            0.119519
         HomeID            -0.379339
         HomePriceK        -0.800268
         HomeSqft           0.206677
         LotSize           -0.387471
         Price2019         -0.800268
         PricePerLotSqt    -0.146533
         PricePerHomeSqt    1.000000
95014    Bed Rooms          0.746252
         CarGarage         -0.403272
         HighSchoolAPI      0.033370
         HomeAge           -0.254995
         HomeID             0.224809
         HomePriceK         0.055620
         HomeSqft          -0.041553
         LotSize            0.266633
         Price2019          0.055620
         PricePerLotSqt    -0.030836
         PricePerHomeSqt    1.000000
95051    Bed Rooms         -0.022027
         CarGarage          0.040221
         HighSchoolAPI      0.130956
         HomeAge            0.391695
         HomeID            -0.442424
         HomePriceK        -0.573723
         HomeSqft           0.236953
         LotSize           -0.429547
         Price2019         -0.573723
         PricePerLotSqt    -0.129495
         PricePerHomeSqt    1.000000
Name: PricePerHomeSqt, dtype: float64

# <font color = "red">Pandas HW 2</font>

What other data column for the zip codes could make the analysis more precise?

Median houshold income, population, population density??? Inlude one or more new data columns and re-visit your conclusions from HW 1.

Are these home prices driven by factors for which we have the data?

#crime rate

In [ ]:
# your code here ...
# Later, after able to find the 2018 data. Only found 2010 data online.